---
import { Icon } from "astro-icon/components";
import Layout from "@/layouts/Layout.astro";
import Container from "@/components/container.astro";
import Contactform from "@/components/contactform.astro";
import Pagetitle from "@/components/pagetitle.astro";
---

<Layout title="Contact">
  <Container>
    <Pagetitle>
      <Fragment slot="title">Contact</Fragment>
      <Fragment slot="desc">Do you have a request?</Fragment>
    </Pagetitle>

    <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-16">
      <div>
        <h2 class="font-medium text-2xl text-gray-800 dark:text-gray-200">
          Contact the emi.reviews team
        </h2>
        <p
          class="text-lg leading-relaxed text-gray-500 dark:text-gray-400 mt-3">
          Do you have a business request or some feedback? We would love to hear from you.
        </p>
        <div class="mt-5">

        </div>
      </div>
      <div>
        <Contactform />
      </div>
    </div>
  </Container>
</Layout>
